* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Shop-content {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
}
.card {
  text-align: center;
  display: grid;
  font-weight: 800;
  font-size:0.9cm;
}

.img {
  height: 100px;
  width: 100px;
  margin: auto;
}

.p {
  background-color: rgb(104, 100, 100);
}

.comprar {
  width: 100%;
  height: 100px;
  background-color: rgb(4, 78, 4);
}

.comprar:hover {
  background-color: green;
}

.ver-carrito {
  padding: 30px;
  margin: auto;
}

.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(190, 17, 17);
  color: aliceblue;
  width: 100%;
}

.modal-header-titulo {
  justify-content: start;
}

.modal-button {
  cursor: pointer;
}

.modal-container > .modalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-compra {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.deleted-product {
  cursor: pointer;
}

.cantidadCarrito {
  background-color: red;
  color: whitesmoke;
  border-radius: 50%;
  font-size: 26px;
  padding: 4px;
  left: 20px;
  position: absolute;
  display: none;
}

/* HEADER*/

.select-header {
  text-align: center;
}

.hijo-div-header {
  position:absolute;
  z-index: 1;
  color: wheat;
  margin: 80px;
  font-weight:bolder;
  font-size: 90px;
}

.titulo-pag {
  color: aqua;
}